@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Exo+2:wght@100;500&family=Poppins:ital,wght@0,100;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

h2 {
    color: black;
    line-height: 64px;
    font-weight: 50px;
}

h1 {
    font-size: 46px;
    line-height: 64px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.logo {
    height: 6%;
    width: 6%;
}

/* header start */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar.active {
    right: 0px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #008178;
}

#navbar li a.active::after,
#navbar li a:hover:after {
    content: "";
    width: 30%;
    height: 2px;
    background: #008178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* home page */
#hero {
    height: 84vh;
    width: 100%;
    background-image: url("https://thumbs.dreamstime.com/b/website-header-young-couple-website-header-young-couple-fashionable-autumn-clothes-posing-isolated-191854498.jpg");
    background-color: #E3E6F3;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #008178;
}

#hero button {
    background-image: url();
    background-color: transparent;
    color: #008178;
    border: 1px solid black;
    border-radius: 15px;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;

}

#hero button:hover {
    background-color: #008178;
    color: white;
}

/* featured product */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box {
    background-repeat: no-repeat;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid black;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 0px 0px 12px black;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 12px 8px 12px 8px;
    line-height: 1px;
    border-radius: 4px;
    color: #008178;
    background-color: pink;

}

#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(183, 128, 150);
}

#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(118, 162, 119);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(150, 125, 167);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(167, 139, 108);
}

#product1 {
    text-align: start;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(240, 236, 236);
    cursor: pointer;
    border-radius: 20px;
    margin: 15px 0;
    transition: 0, 2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
    height: 250px;
}

#product1 .pro:hover {
    box-shadow: 0px 0px 12px black;
}

#product1 .pro .desc {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .desc span {
    color: #008178;
    font-size: 12px;
}

#product1 .pro .desc h5 {
    padding-top: 7px;
    color: black;
    font-size: 12px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #008178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #E3E6F3;
    font-weight: 500;
    color: #008178;
    border: 1px solid rgb(238, 234, 234);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .star {
    color: rgb(254, 119, 36);
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/flirty-charming-attractive-european-young-girlfriend-wearing-fashionable-glittering-blouse-smiling-c_1258-129573.jpg?size=626&ext=jpg&ga=GA1.1.2056418750.1677323134&semt=sph");
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    font-size: 16px;
    color: #fff;
}

#banner h1 {
    font-size: 40px;
    color: #fff;
}

#banner h1 span {
    font-size: 30px;
    color: #dd4e11;
}

#banner .normal {
    font-size: 15px;
    font-size: 600;
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner .normal:hover {
    background-color: #008178;
    color: white;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: start; */
    background-image: url("https://img.freepik.com/free-photo/comics-speech-bubble-composition_23-2149006182.jpg?size=626&ext=jpg&ga=GA1.2.2056418750.1677323134&semt=sph");
    background-repeat: no-repeat;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url("https://img.freepik.com/free-vector/floral-sale-landing-page-with-photo-hand-drawn-flowers_1188-309.jpg?size=626&ext=jpg&ga=GA1.2.2056418750.1677323134&semt=ais");
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .white {
    font-size: 14px;
    font-size: 600;
    padding: 11px 18px;
    color: #000;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#sm-banner .white:hover {
    background-color: #008178;
    color: white;
}

#sm-banner .banner-box:hover button {
    background-color: #008178;
    color: white;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: start; */
    background-image: url("https://img.freepik.com/premium-vector/gradient-sale-background-design_23-2149061185.jpg?size=626&ext=jpg&ga=GA1.1.2056418750.1677323134&semt=ais");
    background-repeat: no-repeat;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box1 {
    background-image: url("https://img.freepik.com/premium-photo/blue-marine-sneakers-shoes_72402-696.jpg?size=626&ext=jpg&ga=GA1.2.2056418750.1677323134&semt=ais");
}

#banner3 .banner-box2 {
    background-image: url("https://img.freepik.com/free-psd/horizontal-banner-template-winter-sale-with-woman-snowflakes_23-2148808313.jpg?size=626&ext=jpg&ga=GA1.1.2056418750.1677323134&semt=ais");
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #de7316;
    font-weight: 800;
    font-size: 17px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to right, rgb(121, 121, 210)), rgb(98, 170, 170);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #014e
}

#newsletter h4 {
    font: size 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font: size 15x;
    font-weight: 600;
    color: #b5adad;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    background: 1px solid transparent;
    border-radius: 6px;
    outline: none;
}

#newsletter button {
    background-color: #008178;
    color: #fff;
    white-space: nowrap;
    font-size: 14px;
    font-size: 600;
    padding: 11px 18px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


.footer h4 {
    font-size: 14px;
    padding-bottom: 20px;

}

.footer p {
    font-size: 13px;
    margin: 0 0 8px 0;

}

.footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.footer .follow {
    color: #b5adad;
    padding-right: 4px;
    cursor: pointer;
}

.footer .install img {
    border-radius: 6px;
    /* width: 10%;
    height: 10%; */
}

/* .footer .install iframe {
    margin: 10px 0px 15px 0;

} */

.copyright {
    width: 100%;
    text-align: center;
}

/* shop page */
#page-header {
    background-image: url("https://thumbs.dreamstime.com/b/header-banner-site-design-needlework-handmade-knitting-crocheting-yarn-horizontal-format-space-text-91362071.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}

#pagination {
    text-align: center;

}

#pagination a {
    text-decoration: none;
    background-color: #008178;
    padding: 15px 20px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* single product */

#prodetails .single-pro-image {
    width: 40%;
    margin: 50px;
}

.small-image-group {
    display: flex;
    justify-content: space-between;
}

.small-img-column {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button {
    background-color: #008178;
    color: #fff;
    white-space: nowrap;
    font-size: 14px;
    font-size: 600;
    padding: 11px 18px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#prodetails .single-pro-details input:focus {
    outline: none;

}

#prodetails .single-pro-details span {
    line-height: 30px;
}


/* Blog page */

.blog-header {
    background-image: url("https://thumbs.dreamstime.com/b/many-churches-closed-covid-pandemic-to-prevent-spread-virus-church-more-people-read-their-bibles-time-219813853.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}


#blog {
    padding: 150px 150px 0 150px;

}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}


#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #008178;
    transform: 0.5s ease;
}

#blog .blog-details a:hover::after {
    background-color: #008178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}


/* About page */

.about-header {

    background-image: url("https://img.freepik.com/premium-photo/yes_53876-12649.jpg?size=626&ext=jpg&ga=GA1.2.2056418750.1677323134&semt=ais");
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.about-header h1,
.about-header p {
    color: #fff;
}

#about-head img {
    width: 50%;
    height: auto;

}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;

}

#About-web {
    text-align: center;
}

#About-web .video {
    width: 70%;
    height: 50%;
    margin: 30px auto 0 auto;
}

#About-web .video video {
    width: 70%;
    height: 100%;
    border-radius: 70px;
}

.contact-header {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/17/18/59/architecture-1048092__340.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

/* conatct page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid rgb(188, 182, 182);
}

#form-details form {
    width: 65%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

#form-details form input {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid rgb(184, 178, 178);
}

#form-details form .btn-submit {
    font-size: 15px;
    font-size: 600;
    padding: 10px 30px;
    color: white;
    background-color: #008178;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 20px;
}

.people img {
    height: 80px;
    border-radius: 50%;
    ;
}

#form-details .people div {
    padding-bottom: 25px;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
/* cart page */

.cart-header
{
    background-image: url("https://st3.depositphotos.com/7341970/14969/v/450/depositphotos_149690228-stock-illustration-people-shopping-at-supermarket.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#cart table
{
    border: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img
{
    width: 70px;
}
#cart table td:nth-child(1)
{
width: 100px;
text-align: center;
}
#cart table td:nth-child(2)
{
width: 150px;
text-align: center;
}
#cart table td:nth-child(3)
{
width: 250px;
text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
width: 150px;
text-align: center;
}
#cart table td:nth-child(5) input
{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;

}
#cart 
{
    overflow-x: auto;
}
#cart table thead th
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td
{
    padding-top: 15px;
}
#cart table tbody td
{
    font-size: 13px;
}

#cart-add
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
 #coupon
{
   width: 50%;
   margin-bottom: 30px; 
}
#coupon h3,
#subtotal h3
{
    padding-bottom: 15px;
}
#coupon input
{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button
{
    font-size: 15px;
    font-size: 600;
    padding: 10px 30px;
    color: white;
    background-color: #008178;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 20px; 
}
#subtotal
{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table
{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #008178;
        box-shadow: 0 40px 60px rgb(34, 34, 34);
        padding: 80px 0 0 10px;
        transition: 0.5s ease
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i,
    a {
        color: #008178;
    }

    #close {
        display: initial;
        position: absolute;
        top: 60px;
        left: 30px;
        color: #000;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #fearture .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product .pro {
        margin: 15px;

    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter {
        width: 70%;
    }

    /* contact page */

    #form-details {
        padding: 40px;
    }
    #form-details .form{
        width: 50%;
    }
   #newsletter
    {
        width: 100%;
    }

}

@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }

    h2 {
        font-size: 28px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        width: 100%;
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    /* single product */

    #prodetails {
        display: flex;
        flex-direction: column;

    }

    #prodetails .single-pro-image {
        width: 00%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* blog page */

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* about page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;

    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }
   /* conatct page */
   #contact-details
   {
    flex-direction: column;
   }
   #contact-details .details
   {
    width: 100%;
    margin-bottom: 30px;
   }
   #contact-details .map
   {
    width: 100%;
   }
   #form-details
   {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
   }
   #form-details .form{
    width: 100%;
    margin-bottom: 30px;
   }
   /* cart page */
  #cart-add
  {
    flex-direction: column;
  }
  #coupon
  {
    width: 100%;
  }
  #subtotal
  {
    width: 100%;
    padding: 20px;
  }
}